<div class="container">
  <div class="container-segment">
    <div class="segment">
      <div class="flip-card" data-days-tens>
        <div class="top">{{this.doms.daysTop.toString().padStart(2,'0')}}</div>
        <div class="bottom">{{this.doms.daysBottom.toString().padStart(2,'0')}}</div>
      </div>
    </div>
    <div class="segment-title">Days</div>
  </div>
  <div class="container-segment">
    <div class="segment">
      <div class="flip-card" data-hours-tens>
        <div class="top">{{this.doms.hoursTop.toString().padStart(2,'0')}}</div>
        <div class="bottom">{{this.doms.hoursBottom.toString().padStart(2,'0')}}</div>
      </div>


    </div>
    <div class="segment-title">Hours</div>
  </div>
  <div class="container-segment">
    <div class="segment">
      <div class="flip-card" data-minutes-tens>
        <div class="top">{{this.doms.minutesTop.toString().padStart(2,'0')}}</div>
        <div class="bottom">{{this.doms.minutesBottom.toString().padStart(2,'0')}}</div>
      </div>


    </div>
    <div class="segment-title">Minutes</div>

  </div>
  <div class="container-segment">
    <div class="segment">
      <div class="flip-card" data-seconds-tens>
        <div class="top">{{this.doms.secondsTop.toString().padStart(2,'0')}}</div>
        <div class="bottom">{{this.doms.secondsBottom.toString().padStart(2,'0')}}</div>
      </div>
    </div>
    <div class="segment-title">Seconds</div>
  </div>
</div>
