.title{
  height: 150px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.value-title{
  height: calc( 100vh - 300px);
  align-self: center;
}

.redes-sociales{
  height: 80px;
  align-self: center;
}
