<div class="footer">
  <a href="www.facebook.com" class="red"><app-svg-icon class="red__facebook" svgFileName="icon-facebook" color="hsl(237, 18%, 59%)"></app-svg-icon></a>
  <a href="https://www.pinterest.com" class="red "><app-svg-icon class="red__pinterest"  svgFileName="icon-pinterest" color="hsl(237, 18%, 59%)" ></app-svg-icon></a>
  <a href="https://www.instagram.com/" class="red"><app-svg-icon class="red_instagram" svgFileName="icon-instagram" color="hsl(237, 18%, 59%)"></app-svg-icon></a>
</div>






